<h3>編集</h3>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :schedule_id ,"ID" %></th>
      <td><%= f.text_field :schedule_id %></td>
    </tr>

    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :startdate ,"開始日" %></th>
      <td><%= f.date_field :startdate %></td>
    </tr>

    <tr>
      <th><%= f.label :enddate ,"終了日" %></th>
      <td><%= f.date_field :enddate %></td>
    </tr>

    <tr>
     <th><%= f.label :allday ,"終日" %></th>
      <td><%= f.check_box :allday %>
       <h5>終日の場合はチェックを入れます</h5>
      </td>
    </tr>

   <tr>
    <th><%= f.label :memo ,"メモ" %></th>
    <td><%= f.text_area :memo %></td>
   </tr>

  </table>

  <div>
    <ul>
      <li><%= link_to "編集を完了する"%></li>
      <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    </ul>
  </div>
<% end %>