<h3>詳細</h3>

<table>
  <tr>
    <th>id</th>
    <td><%= @post.schedule_id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @post.startdate %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.enddate %></td>
  </tr>
  <tr>
   <th>終日</th>
    <td>
     <% if @post.allday == true %>
     ○
     
     <% end %>
    </td>
  </tr>
<tr>
<th>メモ</th>
<td><%= @post.memo %></td>
</tr>
</table>


<div>
  <ul>
    <li><%= link_to "編集", [:edit,@post] %></li>
  </ul>
</div>
<div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
  </ul>
</div>